body {
    font-family: Arial, sans-serif;
    background: #383838;
}

h1 {
    text-align:right;
    padding: 20px;
    background: linear-gradient(to left, #ef3f0ec8, #191919 );
    color: rgb(0, 0, 0);
    margin: 0;
    text-shadow: 2px 2px 4px rgba(30, 30, 30, 0.547);
    
}

.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.item {
    display: inline-block;
    padding: 20px 30px;
    background:linear-gradient(120deg, #191919, #ff6a005f, #191919);
    color: rgb(255, 94, 0);
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    text-shadow: 2px 2px 4px black;

}





.item:hover {
    background: linear-gradient(120deg, #191919, #ff6a00a4, #191919);
}

.car-item-Pfister {
    background: #d05209;
    padding: 15px;
    max-width: 300px;
    margin: auto;
    border-radius: 10px;
    text-align: center;
    display: inline-block;

}

.car-model-Pfister{
    width: 100%;
    border-radius: 10px;
}
.h2{ background: #d05209;
    padding: 15px;
    max-width: 300px;
    margin: auto;
    border-radius: 10px;
    text-align: center;
    display: inline-block;



}
