/* fundo */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: #ffffff;
    font-family: Arial, sans-serif;
}

.menu-topo {
    background: linear-gradient(to top, #000000, #000000);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h1 {
    text-align: center;
    padding: 55px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    margin:0;
    text-shadow: 2px 2px 4px rgba(248, 248, 248, 0.616);
    font-size: 40px;
}

.item {
    display: inline-block;
    padding: 20px 30px;
    color: rgb(255, 255, 255);
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    text-shadow: 2px 2px 4px rgba(255, 184, 184, 0.556);
}


.item:hover {
    background: linear-gradient(0deg, #00000000);
    color: rgb(255, 0, 0);
    text-shadow: 2px 2px 4px rgba(255, 0, 0, 0.485);
}

#h2-1{
    text-align: center;
    padding: 20px;
    color: rgb(0, 0, 0);
    margin:0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.362);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}






/* container */
.carousel {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 40px auto;
  width: fit-content;
}

/* janela que mostra apenas 1 imagem */
.carousel-window {
  width: 600px;
  height: 350px;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.4);
}

/* faixa de imagens */
.carousel-track {
  display: flex;
  /* width: 200%; 2 imagens */
  width: calc(100% * 3); /* 3 imagens */
  height: 100%;
  transition: transform 0.4s ease;
}

.carousel img {
  width: 600px;
  height: 350px;
  object-fit: cover;
}

/* Radios invisíveis */
input[type="radio"] {
  display: none;
}

/* Movimento do carrossel */
#s1:checked ~ .carousel-window .carousel-track {
  transform: translateX(0);
}

#s2:checked ~ .carousel-window .carousel-track {
  transform: translateX(-600PX);
}

#s3:checked ~ .carousel-window .carousel-track {
  transform: translateX(-1200px);
}

/* Botões */
.btn {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: #111111d1;
  color: white;
  font-size: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.2s;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.112);
}

.btn:hover {
  transform: scale(1.12);
  background: #222;
  opacity: 50%;
}